In [4]:
from scipy.io import arff
import pandas as pd

In [6]:
#open dataset.csv
df = pd.read_csv('./data_sets/amphibians/dataset.csv')
df.head()

  Integer;Categorical;Numerical;Numerical;Categorical;Categorical;Categorical;Categorical;Categorical;Categorical;Categorical;Numerical;Ordinal;Ordinal;Categorical;Categorical;Label 1;Label 2;Label 3;Label 4;Label 5;Label 6;Label 7
0  ID;Motorway;SR;NR;TR;VR;SUR1;SUR2;SUR3;UR;FR;O...
1  1;A1;600;1;1;4;6;2;10;0;0;50;0;0;0;1;0;0;0;0;0...
2  2;A1;700;1;5;1;10;6;10;3;1;75;1;1;0;1;0;1;1;0;...
3  3;A1;200;1;5;1;10;6;10;3;4;75;1;1;0;1;0;1;1;0;...
4  4;A1;300;1;5;0;6;10;2;3;4;25;0;0;0;1;0;0;1;0;0...

In [ ]:
data = arff.loadarff('file.arff')
df = pd.DataFrame(data[0])
df.head()