In [2]:
import pandas as pd

In [3]:
data='./data_sets/anuran/Frogs_MFCCs.csv'

In [4]:
df = pd.read_csv(data)
df.head()

,MFCCs_ 1,MFCCs_ 2,MFCCs_ 3,MFCCs_ 4,MFCCs_ 5,MFCCs_ 6,MFCCs_ 7,MFCCs_ 8,MFCCs_ 9,MFCCs_10,...,MFCCs_17,MFCCs_18,MFCCs_19,MFCCs_20,MFCCs_21,MFCCs_22,Family,Genus,Species,RecordID
0,1.0,0.152936,-0.105586,0.200722,0.317201,0.260764,0.100945,-0.150063,-0.171128,0.124676,...,-0.108351,-0.077623,-0.009568,0.057684,0.118680,0.014038,Leptodactylidae,Adenomera,AdenomeraAndre,1
1,1.0,0.171534,-0.098975,0.268425,0.338672,0.268353,0.060835,-0.222475,-0.207693,0.170883,...,-0.090974,-0.056510,-0.035303,0.020140,0.082263,0.029056,Leptodactylidae,Adenomera,AdenomeraAndre,1
2,1.0,0.152317,-0.082973,0.287128,0.276014,0.189867,0.008714,-0.242234,-0.219153,0.232538,...,-0.050691,-0.023590,-0.066722,-0.025083,0.099108,0.077162,Leptodactylidae,Adenomera,AdenomeraAndre,1
3,1.0,0.224392,0.118985,0.329432,0.372088,0.361005,0.015501,-0.194347,-0.098181,0.270375,...,-0.136009,-0.177037,-0.130498,-0.054766,-0.018691,0.023954,Leptodactylidae,Adenomera,AdenomeraAndre,1
4,1.0,0.087817,-0.068345,0.306967,0.330923,0.249144,0.006884,-0.265423,-0.172700,0.266434,...,-0.048885,-0.053074,-0.088550,-0.031346,0.108610,0.079244,Leptodactylidae,Adenomera,AdenomeraAndre,1

In [211]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7195 entries, 0 to 7194
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MFCCs_ 1  7195 non-null   float64
 1   MFCCs_ 2  7195 non-null   float64
 2   MFCCs_ 3  7195 non-null   float64
 3   MFCCs_ 4  7195 non-null   float64
 4   MFCCs_ 5  7195 non-null   float64
 5   MFCCs_ 6  7195 non-null   float64
 6   MFCCs_ 7  7195 non-null   float64
 7   MFCCs_ 8  7195 non-null   float64
 8   MFCCs_ 9  7195 non-null   float64
 9   MFCCs_10  7195 non-null   float64
 10  MFCCs_11  7195 non-null   float64
 11  MFCCs_12  7195 non-null   float64
 12  MFCCs_13  7195 non-null   float64
 13  MFCCs_14  7195 non-null   float64
 14  MFCCs_15  7195 non-null   float64
 15  MFCCs_16  7195 non-null   float64
 16  MFCCs_17  7195 non-null   float64
 17  MFCCs_18  7195 non-null   float64
 18  MFCCs_19  7195 non-null   float64
 19  MFCCs_20  7195 non-null   float64
 20  MFCCs_21  7195 non-null   float64
 21  MFCCs_22  7195 non-null   float64
 22  Family    7195 non-null   object
 23  Genus     7195 non-null   object
 24  Species   7195 non-null   object
 25  RecordID  7195 non-null   int64
dtypes: float64(22), int64(1), object(3)
memory usage: 1.4+ MB

In [212]:
categorical = [var for var in df.columns if df[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :\n\n', categorical)
for var in categorical:
    print(df[var].value_counts())

There are 3 categorical variables

The categorical variables are :

 ['Family', 'Genus', 'Species']
Family
Leptodactylidae    4420
Hylidae            2165
Dendrobatidae       542
Bufonidae            68
Name: count, dtype: int64
Genus
Adenomera        4150
Hypsiboas        1593
Ameerega          542
Dendropsophus     310
Leptodactylus     270
Scinax            148
Osteocephalus     114
Rhinella           68
Name: count, dtype: int64
Species
AdenomeraHylaedactylus    3478
HypsiboasCordobae         1121
AdenomeraAndre             672
Ameeregatrivittata         542
HypsiboasCinerascens       472
HylaMinuta                 310
LeptodactylusFuscus        270
ScinaxRuber                148
OsteocephalusOophagus      114
Rhinellagranulosa           68
Name: count, dtype: int64

In [213]:
numerical = [var for var in df.columns if df[var].dtype!='O']
print('There are {} numerical variables\n'.format(len(numerical)))
print('The numerical variables are :', numerical)
for var in numerical:
    print(df[var].value_counts())

There are 23 numerical variables

The numerical variables are : ['MFCCs_ 1', 'MFCCs_ 2', 'MFCCs_ 3', 'MFCCs_ 4', 'MFCCs_ 5', 'MFCCs_ 6', 'MFCCs_ 7', 'MFCCs_ 8', 'MFCCs_ 9', 'MFCCs_10', 'MFCCs_11', 'MFCCs_12', 'MFCCs_13', 'MFCCs_14', 'MFCCs_15', 'MFCCs_16', 'MFCCs_17', 'MFCCs_18', 'MFCCs_19', 'MFCCs_20', 'MFCCs_21', 'MFCCs_22', 'RecordID']
MFCCs_ 1
1.000000    6947
0.305268       1
0.447274       1
0.882420       1
0.956783       1
            ...
0.870799       1
0.428189       1
0.487819       1
0.517699       1
0.552979       1
Name: count, Length: 249, dtype: int64
MFCCs_ 2
 1.000000    56
 0.152936     1
 0.226334     1
 0.173413     1
 0.059099     1
             ..
 0.111218     1
 0.101349     1
 0.219812     1
 0.117644     1
-0.508833     1
Name: count, Length: 7140, dtype: int64
MFCCs_ 3
 1.000000    170
-0.105586      1
 0.215908      1
 0.119516      1
 0.146978      1
            ...
 0.089000      1
 0.113020      1
 0.164318      1
 0.090409      1
-0.324106      1
Name: count, Length: 7026, dtype: int64
MFCCs_ 4
1.000000    21
0.200722     1
0.481503     1
0.283708     1
0.333505     1
            ..
0.614661     1
0.570468     1
0.606544     1
0.657407     1
0.062068     1
Name: count, Length: 7175, dtype: int64
MFCCs_ 5
0.317201    1
0.040976    1
0.240444    1
0.204361    1
0.193401    1
           ..
0.175173    1
0.187796    1
0.241409    1
0.159004    1
0.078211    1
Name: count, Length: 7195, dtype: int64
MFCCs_ 6
 0.260764    1
 0.116133    1
 0.034440    1
-0.000606    1
 0.037801    1
            ..
-0.025591    1
-0.015486    1
-0.061044    1
-0.056338    1
 0.397188    1
Name: count, Length: 7195, dtype: int64
MFCCs_ 7
 0.100945    1
 0.245736    1
-0.068245    1
-0.053292    1
-0.026041    1
            ..
-0.098955    1
-0.165401    1
-0.121993    1
-0.169671    1
 0.094596    1
Name: count, Length: 7195, dtype: int64
MFCCs_ 8
-0.150063    1
 0.133220    1
-0.019093    1
 0.068172    1
-0.033759    1
            ..
 0.147215    1
 0.166812    1
 0.188929    1
 0.108672    1
-0.117672    1
Name: count, Length: 7195, dtype: int64
MFCCs_ 9
-0.171128    1
 0.100698    1
 0.116335    1
 0.193358    1
 0.081015    1
            ..
 0.288600    1
 0.306627    1
 0.384096    1
 0.249082    1
 0.058874    1
Name: count, Length: 7195, dtype: int64
MFCCs_10
 0.124676    1
 0.099051    1
 0.098293    1
 0.055654    1
 0.178606    1
            ..
-0.093572    1
-0.103812    1
-0.058707    1
-0.121256    1
 0.076180    1
Name: count, Length: 7195, dtype: int64
MFCCs_11
 0.188654    1
-0.079996    1
-0.135548    1
-0.178175    1
-0.061485    1
            ..
-0.285470    1
-0.362411    1
-0.367397    1
-0.323374    1
 0.072347    1
Name: count, Length: 7195, dtype: int64
MFCCs_12
-0.075622    1
-0.173897    1
-0.122890    1
-0.052360    1
-0.153357    1
            ..
 0.167762    1
 0.142121    1
 0.193162    1
 0.178756    1
 0.002760    1
Name: count, Length: 7195, dtype: int64
MFCCs_13
-0.156436    1
-0.032843    1
 0.180720    1
 0.175255    1
 0.132721    1
            ..
 0.273186    1
 0.349236    1
 0.364434    1
 0.295155    1
-0.150554    1
Name: count, Length: 7195, dtype: int64
MFCCs_14
 0.082245    1
 0.023477    1
 0.201422    1
 0.055706    1
 0.213888    1
            ..
-0.132440    1
-0.138307    1
-0.150168    1
-0.145426    1
-0.073415    1
Name: count, Length: 7195, dtype: int64
MFCCs_15
 0.135752    1
-0.051966    1
-0.081474    1
-0.145257    1
-0.074169    1
            ..
-0.187169    1
-0.238531    1
-0.242727    1
-0.204528    1
 0.042517    1
Name: count, Length: 7195, dtype: int64
MFCCs_16
-0.024017    1
-0.019670    1
-0.134784    1
-0.047383    1
-0.160329    1
            ..
 0.091404    1
 0.093292    1
 0.070054    1
 0.060286    1
 0.004158    1
Name: count, Length: 7195, dtype: int64
MFCCs_17
-0.108351    1
 0.097285    1
 0.065585    1
 0.093307    1
 0.047530    1
            ..
 0.123237    1
 0.144292    1
 0.127983    1
 0.107277    1
 0.061455    1
Name: count, Length: 7195, dtype: int64
MFCCs_18
-0.077623    1
 0.094750    1
 0.181239    1
 0.084058    1
 0.127015    1
            ..
 0.006290    1
-0.043537    1
-0.004386    1
-0.010965    1
 0.072983    1
Name: count, Length: 7195, dtype: int64
MFCCs_19
-0.009568    1
 0.047882    1
 0.104799    1
-0.006647    1
 0.038469    1
            ..
-0.053674    1
-0.132972    1
-0.099154    1
-0.046611    1
-0.003980    1
Name: count, Length: 7195, dtype: int64
MFCCs_20
 0.057684    1
 0.006740    1
-0.040598    1
-0.056351    1
-0.033199    1
            ..
-0.085337    1
-0.120230    1
-0.112459    1
-0.052163    1
 0.031560    1
Name: count, Length: 7195, dtype: int64
MFCCs_21
 0.118680    1
-0.050198    1
-0.127838    1
-0.039438    1
-0.095767    1
            ..
 0.087196    1
 0.110869    1
 0.089613    1
 0.097650    1
-0.029355    1
Name: count, Length: 7195, dtype: int64
MFCCs_22
 0.014038    1
-0.055385    1
-0.014190    1
 0.060520    1
-0.036523    1
            ..
 0.105284    1
 0.127765    1
 0.084666    1
 0.088575    1
-0.087910    1
Name: count, Length: 7195, dtype: int64
RecordID
22    458
15    449
24    437
19    391
8     372
21    368
41    366
18    339
42    329
40    326
23    308
20    304
36    259
47    205
14    199
13    163
11    157
37    145
17    137
43    100
10     96
4      88
16     88
9      68
12     58
38     58
28     58
49     56
50     55
2      54
1      52
56     52
53     45
6      43
35     39
27     39
58     37
32     36
34     32
25     30
45     28
30     25
5      24
3      22
46     22
59     21
31     21
60     20
57     18
7      17
44     15
26     14
51     12
39     10
33      9
52      8
29      7
48      3
54      2
55      1
Name: count, dtype: int64

In [214]:
y = df[['Family', 'Genus', 'Species']]
X = df.drop(['Family', 'Genus', 'Species','RecordID'], axis=1)
y.head()
#X.head()

            Family      Genus         Species
0  Leptodactylidae  Adenomera  AdenomeraAndre
1  Leptodactylidae  Adenomera  AdenomeraAndre
2  Leptodactylidae  Adenomera  AdenomeraAndre
3  Leptodactylidae  Adenomera  AdenomeraAndre
4  Leptodactylidae  Adenomera  AdenomeraAndre

In [218]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=None)
X_train.shape, X_test.shape
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [216]:
# import category_encoders as ce
# encoder = ce.OneHotEncoder()
# X_train = encoder.fit_transform(X_train)
# X_test = encoder.transform(X_test)

In [217]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import f1_score, accuracy_score

class_name = 'Species'

y_pred = GaussianNB().fit(X_train, y_train[class_name]).predict(X_test)
#f = f1_score(y_test[class_name], y_pred)
a = accuracy_score(y_test[class_name], y_pred)
print(a)

0.9075747046560111

In [220]:
print(y_test[class_name].value_counts())

Species
AdenomeraHylaedactylus    719
HypsiboasCordobae         230
AdenomeraAndre            122
Ameeregatrivittata        119
HypsiboasCinerascens       78
HylaMinuta                 60
LeptodactylusFuscus        56
ScinaxRuber                24
OsteocephalusOophagus      23
Rhinellagranulosa           8
Name: count, dtype: int64

print(y_pred)

In [222]:
print(y_pred.value_counts())

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'