In [3]:
from scipy.io import arff
import pandas as pd

In [7]:
data='./data_sets/amphibians/dataset.csv'

In [9]:
df = pd.read_csv(data, header=1,sep=';')
df.head()

,ID,Motorway,SR,NR,TR,VR,SUR1,SUR2,SUR3,UR,...,BR,MR,CR,Green frogs,Brown frogs,Common toad,Fire-bellied toad,Tree frog,Common newt,Great crested newt
0,1,A1,600,1,1,4,6,2,10,0,...,0,0,1,0,0,0,0,0,0,0
1,2,A1,700,1,5,1,10,6,10,3,...,1,0,1,0,1,1,0,0,1,0
2,3,A1,200,1,5,1,10,6,10,3,...,1,0,1,0,1,1,0,0,1,0
3,4,A1,300,1,5,0,6,10,2,3,...,0,0,1,0,0,1,0,0,0,0
4,5,A1,600,2,1,4,10,2,6,0,...,5,0,1,0,1,1,1,0,1,1

In [13]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  189 non-null    int64
 1   Motorway            189 non-null    object
 2   SR                  189 non-null    int64
 3   NR                  189 non-null    int64
 4   TR                  189 non-null    int64
 5   VR                  189 non-null    int64
 6   SUR1                189 non-null    int64
 7   SUR2                189 non-null    int64
 8   SUR3                189 non-null    int64
 9   UR                  189 non-null    int64
 10  FR                  189 non-null    int64
 11  OR                  189 non-null    int64
 12  RR                  189 non-null    int64
 13  BR                  189 non-null    int64
 14  MR                  189 non-null    int64
 15  CR                  189 non-null    int64
 16  Green frogs         189 non-null    int64
 17  Brown frogs         189 non-null    int64
 18  Common toad         189 non-null    int64
 19  Fire-bellied toad   189 non-null    int64
 20  Tree frog           189 non-null    int64
 21  Common newt         189 non-null    int64
 22  Great crested newt  189 non-null    int64
dtypes: int64(22), object(1)
memory usage: 34.1+ KB

In [16]:
categorical = [var for var in df.columns if df[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :\n\n', categorical)
for var in categorical:
    print(df[var].value_counts())

There are 1 categorical variables

The categorical variables are :

 ['Motorway']
Motorway
S52    109
A1      80
Name: count, dtype: int64

In [18]:
numerical = [var for var in df.columns if df[var].dtype!='O']
print('There are {} numerical variables\n'.format(len(numerical)))
print('The numerical variables are :', numerical)
for var in numerical:
    print(df[var].value_counts())

There are 22 numerical variables

The numerical variables are : ['ID', 'SR', 'NR', 'TR', 'VR', 'SUR1', 'SUR2', 'SUR3', 'UR', 'FR', 'OR', 'RR', 'BR', 'MR', 'CR', 'Green frogs', 'Brown frogs', 'Common toad', 'Fire-bellied toad', 'Tree frog', 'Common newt', 'Great crested newt']
ID
1      1
131    1
122    1
123    1
124    1
      ..
66     1
67     1
68     1
69     1
189    1
Name: count, Length: 189, dtype: int64
SR
300      47
200      11
1000     10
500       8
100       8
         ..
1300      1
10050     1
16000     1
5000      1
22000     1
Name: count, Length: 66, dtype: int64
NR
1     148
2      20
3       7
4       4
6       3
5       3
7       1
9       1
10      1
12      1
Name: count, dtype: int64
TR
1     116
12     23
15     19
5      12
14     10
11      4
2       4
7       1
Name: count, dtype: int64
VR
1    55
3    41
2    35
0    30
4    28
Name: count, dtype: int64
SUR1
2     70
1     43
10    30
7     20
6     19
9      5
14     1
4      1
Name: count, dtype: int64
SUR2
10    44
2     41
6     39
1     36
7     18
9     10
11     1
Name: count, dtype: int64
SUR3
6     55
10    45
2     29
1     29
7     18
9     10
5      2
11     1
Name: count, dtype: int64
UR
0    130
3     50
1      9
Name: count, dtype: int64
FR
0    125
3     18
1     16
4     15
2     15
Name: count, dtype: int64
OR
100    141
75      22
50      16
25       7
99       2
80       1
Name: count, dtype: int64
RR
1     50
0     47
5     42
2     39
9      7
10     4
Name: count, dtype: int64
BR
1     62
5     46
0     39
2     29
9      7
10     6
Name: count, dtype: int64
MR
0    184
2      4
1      1
Name: count, dtype: int64
CR
1    186
2      3
Name: count, dtype: int64
Green frogs
1    108
0     81
Name: count, dtype: int64
Brown frogs
1    148
0     41
Name: count, dtype: int64
Common toad
1    124
0     65
Name: count, dtype: int64
Fire-bellied toad
0    131
1     58
Name: count, dtype: int64
Tree frog
0    118
1     71
Name: count, dtype: int64
Common newt
0    131
1     58
Name: count, dtype: int64
Great crested newt
0    168
1     21
Name: count, dtype: int64

In [29]:
y = df[['Green frogs','Brown frogs','Common toad','Fire-bellied toad','Tree frog','Common newt','Great crested newt']]
X = df.drop(['Green frogs','Brown frogs','Common toad','Fire-bellied toad','Tree frog','Common newt','Great crested newt','ID','Motorway'], axis=1)
y.head()
X.head()

    SR  NR  TR  VR  SUR1  SUR2  SUR3  UR  FR  OR  RR  BR  MR  CR
0  600   1   1   4     6     2    10   0   0  50   0   0   0   1
1  700   1   5   1    10     6    10   3   1  75   1   1   0   1
2  200   1   5   1    10     6    10   3   4  75   1   1   0   1
3  300   1   5   0     6    10     2   3   4  25   0   0   0   1
4  600   2   1   4    10     2     6   0   0  99   0   5   0   1

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
X_train.shape, X_test.shape

((132, 14), (57, 14))

In [27]:
import category_encoders as ce
encoder = ce.OneHotEncoder()
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

Warning: No categorical columns found. Calling 'transform' will only return input data.